:root{
  --purpleOne:#2a2a72;
  --purpleTwo:#009ffd;
  --whiteOne:#f3f3f3;
  --blackOne:#232528;
  --yellowOne:#ffa400;
}
body{
  font-family: "M PLUS Rounded 1c" !important;
  background:var(--whiteOne) !important;
  color:var(--blackOne) !important;
}
.text-title{
  font-family:"Monserrat";
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.text-purple{
  color:var(--purpleOne);
}