:root{
  --purpleOne:#2e2417;
  --purpleTwo:#F1EAE9;
  --whiteOne:#f3f3f3;
  --blackOne:#232528;
}
body{
  font-family: "M PLUS Rounded 1c" !important;
  color:var(--blackOne) !important;
  background:var(--purpleTwo) !important;
}
/* title */
.heading{
  font-family: 'Cinzel', serif !important;
}
.top{
  font-size:1.1rem;
  color:black;
  display:flex;
  justify-content: center;
  align-items: center;
}
.text-title{
  font-family:"Monserrat";
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.text-purple{
  color:var(--purpleOne);
}
.text-bright{
  color:var(--purpleTwo)
}
.Nav2{
  background:#d6bcbe;
  width:60vw;
  min-height:40px;
  margin:auto;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top:-10px;
  z-index:60;
  position:relative;
  color:var(--whiteOne)
}
/* product */
.product-img{
  height:15rem;
  width:10rem;
  object-fit: cover;
}
.text-footer{
  font-size:0.9rem;
}
/* detail */
.container2{
  display: flex;
  justify-content: center;
  align-items: center;
  width:60vw;
  margin:auto;
}
.detail-container{
  background:white;
  margin-top:20px;
  border:3px solid var(--purpleOne);
}
.detail-container2{
  background:var(--purpleTwo);
}
ul{
  margin:0;
  padding:0;
}
.features{
  margin:0;
  padding:0;
}
/* cartItem */
.cartItem{
  background:#f3f3f3;
  /* width:75vw; */
  min-height:30vh;
  /* padding:25px; */
  margin-bottom:15px;
}
.cart-heading{
  display:flex;
  justify-content: space-between;
}
.media .mx-auto{
  margin-left:0 !important;
}
.cart-footer{
  float:right;
  margin-top:-10px;
}
.media{
  padding:5px;
  border-bottom:1px solid grey;
  border-top:1px solid grey;

}
.btn-black {
  background: #d6bcb6 !important;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  border-radius: 0.1rem !important;
  border: none;
}
.btn-black:hover {
  background: var(--blackOne) !important;
  color: var(--whiteOne) !important;
}
.center-button{
  border-right:none !important;
  border-left:none !important;
  width:5vw;
  background:white !important;
  /* border-top:0.1px solid black !important; */
  /* border-bottom:0.1px solid black !important; */
}
.center-button:hover{
  background:white !important;
  color:black !important;
}
.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: black;
  margin-right:10px;
}
/* not found */
.notfound{
  border:2px solid white;
  margin-top:25px;
}
.notfound>h3{
  border-top:2px solid white;
  padding-top:20px;
}
.notfound>p{
  font-size:0.7rem;
}
/* footer */
.footer{
  margin-top:50px;
  bottom:0 !important;
  margin-bottom:0 !important;
  background:var(--purpleOne) !important;
}
.footer>h1{
  margin-bottom:0 !important;
}